<section class="panel">
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-2 col-sm-2 control-label">新闻标题</label>
                <div class="col-lg-10">
                    <p class="form-control-static">{{news_title}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-sm-2 control-label">新闻内容</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{#news_content}}</p>
                </div>
            </div>
        </form>
    </div>
</section>
